<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Queries affect only package visibility. They grant no permission. -->
    <queries>
        <intent>
            <action android:name="android.settings.DEVICE_INFO_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.settings.APPLICATION_DEVELOPMENT_SETTINGS" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
