<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:hasCode="false"
        android:label="FindUAS FlySafe ART TI staging payload"
        android:supportsRtl="true" />

</manifest>
